.container.w-50.py-3.d-flex.flex-column.gap-3
  %h1.fs-3= @user.name
  .row
    .col-2 年収
    .col= number_to_currency(@user.annual_income)
  .row
    .col-2 電話番号
    .col= link_to @user.phone_number, "tel:#{@user.phone_number}"
  = link_to '編集', edit_user_path(@user)
